.mo_oauth_btn1-block {
    display: block !important;
    width: 90% !important;
}
.mo_oauth_btn-block {
    display: block !important;
    width: 90% !important;
}
.square {
	height: 100px;
	padding-top: 40px;
	width: 450px;
  }

 #mo_oauth_client_default_apps_input {
  background-position: 6px 8px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 8px 12px 8px 20px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}
#mo_oauth_client_default_apps {list-style-type: none;padding: 0;margin: 0;}
#mo_oauth_client_default_apps li a {
  text-decoration: none;
  font-size: 12px;
  line-height:14px;
  color: black;
  display: block;
  min-height: 80px;
}
.mo_oauth_client_default_app_icon {max-height:50px;max-width:50px}
.mo_oauth_client_default_app_icon:hover { background-color: #eee;}
#mo_oauth_client_default_apps li {
	border: 1px solid #ddd;
	background-color: #f6f6f6;
	padding: 8px 2px;
	display:inline-block; width:120px;height:80px;text-align:center;vertical-align:middle;
	margin:2px;
}



.mo_oauth_btn {
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	text-decoration: none
}


.mo_oauth_btn:focus,.mo_oauth_btn:active:focus,.mo_oauth_btn.active:focus,.mo_oauth_btn.focus,.mo_oauth_btn:active.focus,.mo_oauth_btn.active.focus
	{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.mo_oauth_btn:hover,.mo_oauth_btn:focus,.mo_oauth_btn.focus {
	
	text-decoration: none
}

.mo_oauth_btn:active,.mo_oauth_btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.mo_oauth_btn.disabled,.mo_oauth_btn[disabled],fieldset[disabled] .mo_oauth_btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.mo_oauth_btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.mo_oauth_btn-default:hover,.mo_oauth_btn-default:focus,.mo_oauth_btn-default.focus,.mo_oauth_btn-default:active,.mo_oauth_btn-default.active,.open>.dropdown-toggle.mo_oauth_btn-default
	{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.mo_oauth_btn-default:active,.mo_oauth_btn-default.active,.open>.dropdown-toggle.mo_oauth_btn-default
	{
	background-image: none
}

.mo_oauth_btn-default.disabled,.mo_oauth_btn-default[disabled],fieldset[disabled] .mo_oauth_btn-default,.mo_oauth_btn-default.disabled:hover,.mo_oauth_btn-default[disabled]:hover,fieldset[disabled] .mo_oauth_btn-default:hover,.mo_oauth_btn-default.disabled:focus,.mo_oauth_btn-default[disabled]:focus,fieldset[disabled] .mo_oauth_btn-default:focus,.mo_oauth_btn-default.disabled.focus,.mo_oauth_btn-default[disabled].focus,fieldset[disabled] .mo_oauth_btn-default.focus,.mo_oauth_btn-default.disabled:active,.mo_oauth_btn-default[disabled]:active,fieldset[disabled] .mo_oauth_btn-default:active,.mo_oauth_btn-default.disabled.active,.mo_oauth_btn-default[disabled].active,fieldset[disabled] .mo_oauth_btn-default.active
	{
	background-color: #fff;
	border-color: #ccc
}

.mo_oauth_btn-default .badge {
	color: #fff;
	background-color: #333
}

.mo_oauth_btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}

.mo_oauth_btn-primary:hover,.mo_oauth_btn-primary:focus,.mo_oauth_btn-primary.focus,.mo_oauth_btn-primary:active,.mo_oauth_btn-primary.active,.open>.dropdown-toggle.mo_oauth_btn-primary
	{
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}

.mo_oauth_btn-primary:active,.mo_oauth_btn-primary.active,.open>.dropdown-toggle.mo_oauth_btn-primary
	{
	background-image: none
}

.mo_oauth_btn-primary.disabled,.mo_oauth_btn-primary[disabled],fieldset[disabled] .mo_oauth_btn-primary,.mo_oauth_btn-primary.disabled:hover,.mo_oauth_btn-primary[disabled]:hover,fieldset[disabled] .mo_oauth_btn-primary:hover,.mo_oauth_btn-primary.disabled:focus,.mo_oauth_btn-primary[disabled]:focus,fieldset[disabled] .mo_oauth_btn-primary:focus,.mo_oauth_btn-primary.disabled.focus,.mo_oauth_btn-primary[disabled].focus,fieldset[disabled] .mo_oauth_btn-primary.focus,.mo_oauth_btn-primary.disabled:active,.mo_oauth_btn-primary[disabled]:active,fieldset[disabled] .mo_oauth_btn-primary:active,.mo_oauth_btn-primary.disabled.active,.mo_oauth_btn-primary[disabled].active,fieldset[disabled] .mo_oauth_btn-primary.active
	{
	background-color: #337ab7;
	border-color: #2e6da4
}

.mo_oauth_btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}

.mo_oauth_btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

.mo_oauth_btn-success:hover,.mo_oauth_btn-success:focus,.mo_oauth_btn-success.focus,.mo_oauth_btn-success:active,.mo_oauth_btn-success.active,.open>.dropdown-toggle.mo_oauth_btn-success
	{
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.mo_oauth_btn-success:active,.mo_oauth_btn-success.active,.open>.dropdown-toggle.mo_oauth_btn-success
	{
	background-image: none
}

.mo_oauth_btn-success.disabled,.mo_oauth_btn-success[disabled],fieldset[disabled] .mo_oauth_btn-success,.mo_oauth_btn-success.disabled:hover,.mo_oauth_btn-success[disabled]:hover,fieldset[disabled] .mo_oauth_btn-success:hover,.mo_oauth_btn-success.disabled:focus,.mo_oauth_btn-success[disabled]:focus,fieldset[disabled] .mo_oauth_btn-success:focus,.mo_oauth_btn-success.disabled.focus,.mo_oauth_btn-success[disabled].focus,fieldset[disabled] .mo_oauth_btn-success.focus,.mo_oauth_btn-success.disabled:active,.mo_oauth_btn-success[disabled]:active,fieldset[disabled] .mo_oauth_btn-success:active,.mo_oauth_btn-success.disabled.active,.mo_oauth_btn-success[disabled].active,fieldset[disabled] .mo_oauth_btn-success.active
	{
	background-color: #5cb85c;
	border-color: #4cae4c
}

.mo_oauth_btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}

.mo_oauth_btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.mo_oauth_btn-info:hover,.mo_oauth_btn-info:focus,.mo_oauth_btn-info.focus,.mo_oauth_btn-info:active,.mo_oauth_btn-info.active,.open>.dropdown-toggle.mo_oauth_btn-info
	{
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.mo_oauth_btn-info:active,.mo_oauth_btn-info.active,.open>.dropdown-toggle.mo_oauth_btn-info {
	background-image: none
}

.mo_oauth_btn-info.disabled,.mo_oauth_btn-info[disabled],fieldset[disabled] .mo_oauth_btn-info,.mo_oauth_btn-info.disabled:hover,.mo_oauth_btn-info[disabled]:hover,fieldset[disabled] .mo_oauth_btn-info:hover,.mo_oauth_btn-info.disabled:focus,.mo_oauth_btn-info[disabled]:focus,fieldset[disabled] .mo_oauth_btn-info:focus,.mo_oauth_btn-info.disabled.focus,.mo_oauth_btn-info[disabled].focus,fieldset[disabled] .mo_oauth_btn-info.focus,.mo_oauth_btn-info.disabled:active,.mo_oauth_btn-info[disabled]:active,fieldset[disabled] .mo_oauth_btn-info:active,.mo_oauth_btn-info.disabled.active,.mo_oauth_btn-info[disabled].active,fieldset[disabled] .mo_oauth_btn-info.active
	{
	background-color: #5bc0de;
	border-color: #46b8da
}

.mo_oauth_btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}

.mo_oauth_btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}

.mo_oauth_btn-warning:hover,.mo_oauth_btn-warning:focus,.mo_oauth_btn-warning.focus,.mo_oauth_btn-warning:active,.mo_oauth_btn-warning.active,.open>.dropdown-toggle.mo_oauth_btn-warning
	{
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}

.mo_oauth_btn-warning:active,.mo_oauth_btn-warning.active,.open>.dropdown-toggle.mo_oauth_btn-warning
	{
	background-image: none
}

.mo_oauth_btn-warning.disabled,.mo_oauth_btn-warning[disabled],fieldset[disabled] .mo_oauth_btn-warning,.mo_oauth_btn-warning.disabled:hover,.mo_oauth_btn-warning[disabled]:hover,fieldset[disabled] .mo_oauth_btn-warning:hover,.mo_oauth_btn-warning.disabled:focus,.mo_oauth_btn-warning[disabled]:focus,fieldset[disabled] .mo_oauth_btn-warning:focus,.mo_oauth_btn-warning.disabled.focus,.mo_oauth_btn-warning[disabled].focus,fieldset[disabled] .mo_oauth_btn-warning.focus,.mo_oauth_btn-warning.disabled:active,.mo_oauth_btn-warning[disabled]:active,fieldset[disabled] .mo_oauth_btn-warning:active,.mo_oauth_btn-warning.disabled.active,.mo_oauth_btn-warning[disabled].active,fieldset[disabled] .mo_oauth_btn-warning.active
	{
	background-color: #f0ad4e;
	border-color: #eea236
}

.mo_oauth_btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}

.mo_oauth_btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}

.mo_oauth_btn-danger:hover,.mo_oauth_btn-danger:focus,.mo_oauth_btn-danger.focus,.mo_oauth_btn-danger:active,.mo_oauth_btn-danger.active,.open>.dropdown-toggle.mo_oauth_btn-danger
	{
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.mo_oauth_btn-danger:active,.mo_oauth_btn-danger.active,.open>.dropdown-toggle.mo_oauth_btn-danger
	{
	background-image: none
}

.mo_oauth_btn-danger.disabled,.mo_oauth_btn-danger[disabled],fieldset[disabled] .mo_oauth_btn-danger,.mo_oauth_btn-danger.disabled:hover,.mo_oauth_btn-danger[disabled]:hover,fieldset[disabled] .mo_oauth_btn-danger:hover,.mo_oauth_btn-danger.disabled:focus,.mo_oauth_btn-danger[disabled]:focus,fieldset[disabled] .mo_oauth_btn-danger:focus,.mo_oauth_btn-danger.disabled.focus,.mo_oauth_btn-danger[disabled].focus,fieldset[disabled] .mo_oauth_btn-danger.focus,.mo_oauth_btn-danger.disabled:active,.mo_oauth_btn-danger[disabled]:active,fieldset[disabled] .mo_oauth_btn-danger:active,.mo_oauth_btn-danger.disabled.active,.mo_oauth_btn-danger[disabled].active,fieldset[disabled] .mo_oauth_btn-danger.active
	{
	background-color: #d9534f;
	border-color: #d43f3a
}

.mo_oauth_btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}

.mo_oauth_btn-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0
}

.mo_oauth_btn-link,.mo_oauth_btn-link:active,.mo_oauth_btn-link.active,.mo_oauth_btn-link[disabled],fieldset[disabled] .mo_oauth_btn-link
	{
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.mo_oauth_btn-link,.mo_oauth_btn-link:hover,.mo_oauth_btn-link:focus,.mo_oauth_btn-link:active {
	border-color: transparent
}

.mo_oauth_btn-link:hover,.mo_oauth_btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}

.mo_oauth_btn-link[disabled]:hover,fieldset[disabled] .mo_oauth_btn-link:hover,.mo_oauth_btn-link[disabled]:focus,fieldset[disabled] .mo_oauth_btn-link:focus
	{
	color: #777;
	text-decoration: none
}

.mo_oauth_btn-lg,.mo_oauth_btn-group-lg>.mo_oauth_btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}

.mo_oauth_btn-sm,.mo_oauth_btn-group-sm>.mo_oauth_btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.mo_oauth_btn-xs,.mo_oauth_btn-group-xs>.mo_oauth_btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.mo_oauth_btn-block {
	display: block;
	width: 100%
}

.mo_oauth_btn-block+.mo_oauth_btn-block {
	margin-top: 5px
}

input[type=submit].mo_oauth_btn-block,input[type=reset].mo_oauth_btn-block,input[type=button].mo_oauth_btn-block
	{
	width: 100%
}



.mo_oauth_btn-group,.mo_oauth_btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.mo_oauth_btn-group>.mo_oauth_btn,.mo_oauth_btn-group-vertical>.mo_oauth_btn {
	position: relative;
	float: left
}

.mo_oauth_btn-group>.mo_oauth_btn:hover,.mo_oauth_btn-group-vertical>.mo_oauth_btn:hover,.mo_oauth_btn-group>.mo_oauth_btn:focus,.mo_oauth_btn-group-vertical>.mo_oauth_btn:focus,.mo_oauth_btn-group>.mo_oauth_btn:active,.mo_oauth_btn-group-vertical>.mo_oauth_btn:active,.mo_oauth_btn-group>.mo_oauth_btn.active,.mo_oauth_btn-group-vertical>.mo_oauth_btn.active
	{
	z-index: 2
}

.mo_oauth_btn-group .mo_oauth_btn+.mo_oauth_btn,.mo_oauth_btn-group .mo_oauth_btn+.mo_oauth_btn-group,.mo_oauth_btn-group .mo_oauth_btn-group+.mo_oauth_btn,.mo_oauth_btn-group .mo_oauth_btn-group+.mo_oauth_btn-group
	{
	margin-left: -1px
}

.mo_oauth_btn-toolbar {
	margin-left: -5px
}

.mo_oauth_btn-toolbar .mo_oauth_btn-group,.mo_oauth_btn-toolbar .input-group {
	float: left
}

.mo_oauth_btn-toolbar>.mo_oauth_btn,.mo_oauth_btn-toolbar>.mo_oauth_btn-group,.mo_oauth_btn-toolbar>.input-group {
	margin-left: 5px
}

.mo_oauth_btn-group>.mo_oauth_btn:not (:first-child ):not (:last-child ):not (.dropdown-toggle
	){
	border-radius: 0
}

.mo_oauth_btn-group>.mo_oauth_btn:first-child {
	margin-left: 0
}

.mo_oauth_btn-group>.mo_oauth_btn:first-child:not (:last-child ):not (.dropdown-toggle ){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.mo_oauth_btn-group>.mo_oauth_btn:last-child:not (:first-child ),.mo_oauth_btn-group>.dropdown-toggle:not
	(:first-child ){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.mo_oauth_btn-group>.mo_oauth_btn-group {
	float: left
}

.mo_oauth_btn-group>.mo_oauth_btn-group:not (:first-child ):not (:last-child )>.mo_oauth_btn {
	border-radius: 0
}

.mo_oauth_btn-group>.mo_oauth_btn-group:first-child>.mo_oauth_btn:last-child,.mo_oauth_btn-group>.mo_oauth_btn-group:first-child>.dropdown-toggle
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.mo_oauth_btn-group>.mo_oauth_btn-group:last-child>.mo_oauth_btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.mo_oauth_btn-group .dropdown-toggle:active,.mo_oauth_btn-group.open .dropdown-toggle {
	outline: 0
}

.mo_oauth_btn-group>.mo_oauth_btn+.dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px
}

.mo_oauth_btn-group>.mo_oauth_btn-lg+.dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px
}

.mo_oauth_btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.mo_oauth_btn-group.open .dropdown-toggle.mo_oauth_btn-link {
	-webkit-box-shadow: none;
	box-shadow: none
}

.mo_oauth_btn .caret {
	margin-left: 0
}

.mo_oauth_btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0
}

.dropup .mo_oauth_btn-lg .caret {
	border-width: 0 5px 5px
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn,.mo_oauth_btn-group-vertical>.mo_oauth_btn-group,.mo_oauth_btn-group-vertical>.mo_oauth_btn-group>.mo_oauth_btn
	{
	display: block;
	float: none;
	width: 100%;
	max-width: 100%
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn-group>.mo_oauth_btn {
	float: none
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn+.mo_oauth_btn,.mo_oauth_btn-group-vertical>.mo_oauth_btn+.mo_oauth_btn-group,.mo_oauth_btn-group-vertical>.mo_oauth_btn-group+.mo_oauth_btn,.mo_oauth_btn-group-vertical>.mo_oauth_btn-group+.mo_oauth_btn-group
	{
	margin-top: -1px;
	margin-left: 0
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn:not (:first-child ):not (:last-child ){
	border-radius: 0
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn:first-child:not (:last-child ){
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn:last-child:not (:first-child ){
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn-group:not (:first-child ):not (:last-child )>.mo_oauth_btn
	{
	border-radius: 0
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn-group:first-child:not (:last-child )>.mo_oauth_btn:last-child,.mo_oauth_btn-group-vertical>.mo_oauth_btn-group:first-child:not
	(:last-child )>.dropdown-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.mo_oauth_btn-group-vertical>.mo_oauth_btn-group:last-child:not (:first-child )>.mo_oauth_btn:first-child
	{
	border-top-left-radius: 0;
	border-top-right-radius: 0
}


.mo_oauth_btn1 {
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	text-decoration: none
}


.mo_oauth_btn1:focus,.mo_oauth_btn1:active:focus,.mo_oauth_btn1.active:focus,.mo_oauth_btn1.focus,.mo_oauth_btn1:active.focus,.mo_oauth_btn1.active.focus
	{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.mo_oauth_btn1:hover,.mo_oauth_btn1:focus,.mo_oauth_btn1.focus {
	
	text-decoration: none
}

.mo_oauth_btn1:active,.mo_oauth_btn1.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

/* FAQ button and Ask question on forum button*/
.mo_faq_button_left{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
}

.mo_faq_button_left:hover{
	transform: scale(1.1);
}
.mo_faq_button_right{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
	margin-left: 10px;
}

.mo_faq_button_right:hover{
	transform: scale(1.1);
}
