#oauth_login_oauth2_app{
	border-radius: 4px;
	padding: 5px;
}

.mo_oauth_btn_fix{
	margin-right: 22px;
	margin-left: 8px;
}

.mo_oauth_highlight_background_note_export{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 98%;
}

#text_field, #callbackurl, #oauth_login_oauth2_auth_ep, #oauth_login_oauth2_access_token_ep,
#oauth_login_oauth2_user_info_ep,#oauth_login_oauth2_display_name{
    width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}

.mo_oauth_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_oauth_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_oauth_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_oauth_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_oauth_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}
.mo_oauth_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_oauth_table_layout td {
	
}
.mo_oauth_table_layout input[type=text] {
	width: 80%;
}
.mo_oauth_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_oauth_table_textbox {
	width:80%;
}
.mo_oauth_settings_table {
	width: 100%;
}
.mo_oauth_settings_table tr td:first-child {
	width: 30%;
}
.mo_oauth_heading_margin {
	margin-left: 0px;
}
.mo_oauth_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_oauth_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_oauth_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;

}
.mo_oauth_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_oauth_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_oauth_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_oauth_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_local_table_col1{
	padding-left:5%;
}

.mo_oauth_local_table_col2{
	padding-left:20%;
}


.mo_oauth_container {
	width: 59%;
	padding: 25px;
	border-radius: 4px; !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.mo_oauth_table_layout_1
{
	background-color:#e0e0d8 !important;
	width: 97% !important;
	padding:2% !important;
	overflow: hidden;
}

.mo_saml_table_layout_support_1{
	border-radius: 4px;
	position: relative;
	width: 350px;
	border: 1px solid #CCCCCC;
	padding: 15px 20px 17px 20px;
	background-color: white;
}

.mo_saml_highlight_background_note_1{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 90%;
}
#button_config_center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius: 4px;
	background: #337ab7;
	color: #ffffff;
	text-shadow: 0 -1px 1px #337ab7, 1px 0 1px #337ab7, 0 1px 1px #337ab7, -1px 0 1px #337ab7;
	box-shadow: 0 1px 0 #337ab7;
	border-color: #337ab7 #337ab7 #337ab7;
}
#button_config_left{
	display:block;
	border-radius: 4px;
	background: #337ab7;
	color: #ffffff;
	text-shadow: 0 -1px 1px #337ab7, 1px 0 1px #337ab7, 0 1px 1px #337ab7, -1px 0 1px #337ab7;
	box-shadow: 0 1px 0 #337ab7;
	border-color: #337ab7 #337ab7 #337ab7;
}
#button_config{
	border-radius: 4px;
	background: #337ab7;
	color: #ffffff;
	text-shadow: 0 -1px 1px #337ab7, 1px 0 1px #337ab7, 0 1px 1px #337ab7, -1px 0 1px #337ab7;
	box-shadow: 0 1px 0 #337ab7;
	border-color: #337ab7 #337ab7 #337ab7;
}

.mo_saml_container_center {
	width: 60%;
	padding: 25px;
	border-radius: 4px;!important: ;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/*marketing site setup guides table*/

.mo_guide_table{
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 13px;
}

.mo_guide_table-bordered>thead>tr>th{
	border-bottom-width: 2px;
}
.mo_guide_table-bordered {
	border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {
	border: 1px solid #ddd;
}

.mo_guide_table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
}
.mo_guide_text-center {
	text-align: center;
}
.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.mo_guide_text-color {
	color: #fe7e00;
}

.mo_saml_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 4px; !important;
}

.mo_saml_table_layout input[type=text] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}

.form-textarea{

	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-textarea { width:100% !important;}}

.form-text{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-text { width:100% !important;}}

.mo_saml_table_layout_support_btn{
	position: fixed;
	top: 100px;
	z-index: 10000;
	right: -391px;
}

#mosaml-feedback-overlay{
	background: rgba(11, 13, 13, 0.44);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
}
.mo_saml_div_center_style{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.mo_saml_container_2{
	width: 29%;
	padding: 33px;
	border-radius: 4px;!important: ;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-right: auto;
	float: left;
	margin-left: 22px;
}
.scrollit {
	overflow:scroll;
	height:345px;
}
.mo_td_values{
	font-size: 14px;
	font-weight: 600;
	font-family: sans-serif;
}
/*====================***************Licensing page**********************=========================*/

.mo_oauth_btn-primary {
	color: #fff;
	background-color: #d7342e;
	border-color: #d7342e;
	padding: 6px 12px;
}
.mo_oauth_btn-primary-color {
	color: #fff;
	background-color: #32b42e;
	border-color: #32b42e;
}
.mo_oauth_btn {
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mo_oauth_container_1{
	width: 100%;
}
#mo_oauth_pricing-table {
	padding-top: 30px;
}
#mo_oauth_pricing-table li{
	height: 40px;
	color: black;
	text-align: center;
	overflow: hidden;
}
.mo_oauth_class_inline_1{
	width: 29%;
	display: inline-block;
	padding-top: 210px;
}

.mo_oauth_class_inline{
	width: 17%;
	display: inline-block;
	vertical-align: top;
}
#mo_oauth_pricing-table .mo_oauth_pricing {
	margin: 0;
	padding: 0;
	font-family: 'Robot', sans-serif;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table {
	padding-bottom: 15px;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table .mo_oauth_pricing-header {
	position: relative;
	background: #34495e;
	padding: 6px 18px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table .mo_oauth_pricing-header .mo_oauth_pricing-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table .mo_oauth_pricing-header .mo_oauth_pricing-rate {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-align: center;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table .mo_oauth_pricing-header .mo_oauth_pricing-rate sup {
	font-size: 24px;
	position: relative;
	top: -30px;
	color: #bdc3c7;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-table .mo_oauth_pricing-header .mo_oauth_pricing-rate span {
	font-size: 13px;
	color: #bdc3c7;
	text-transform: uppercase;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list {
	padding: 20px 0 40px 0;
	background: #c4baba1c;
	border: 1px solid #e3e3e3;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list ul {
	padding: 0px;
	display: table;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list ul li {
	list-style: none;
	border-bottom: 1px solid #EAECEB;
	color: black;
	font-size: 15px;
	padding-top: 20px;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list ul li:last-child {
	border: none;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list ul li i {
	margin-right: 12px;
	color: #bdc3c7;
}
#mo_oauth_pricing-table .mo_oauth_pricing .mo_oauth_pricing-list ul li span {
	color: #34495e;
}

.mo_oauth_pricing-rate:last-of-type {
	margin-top:46px;
}

.mo_oauth_pricing-title>span{
	font-size: 12px;
	letter-spacing: 1px;
}
p.mo_oauth_pricing-title{
	height: 70px;
}
p.mo_oauth_pricing-rate{
	margin-bottom: 50px;
}
.filler-class{
	height: 0px;
}

.mo_btn_note{
	font-size: 14px;
	cursor: default;
	border-color:#337ab7;
}
.mo_oauth_pricing-list li:nth-of-type(2n+1) {
	background-color: rgba(23, 61, 80, 0.06);
}

#mo_saml_margin{
	margin-bottom: 22px;
}
.mo_saml_table_layout_1
{
	background-color:#e0e0d8;
	width: 97%;
	padding:2%;
	overflow: hidden;
}

/********************licensing end*******************/

.mo_oauth_instruction_style{
	background-color: rgba(173,216,230,0.3);
	padding: 12px;
	font-family: sans-serif
}
.mo_custom_font_size_1{
	font-size: 1.3em;
}
.mo_custom_font_size_2{
	font-size: 1.1em;
}
.mo_custom_font_size_3{
	font-size: 0.9em;
	padding-left: 15px;
	padding-top:5px;
}

.mo_saml_table_layout_support_btn{
	position: fixed;
	top: 100px;
	z-index: 10000;
	right: -391px;
}

#mosaml-feedback-overlay{
	background: rgba(11, 13, 13, 0.44);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
}
.mo_saml_div_center_style{
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.mo_saml_container_2 {
	width: 29%;
	padding: 33px;
	border-radius: 4px;!important:;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin-right: auto;
	float: left;
	margin-left: 22px;
}

.mo_oauth_client_welcome_message{
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	color: rgba(0, 128, 0, 0.80);
	background-color: rgba(0, 255, 0, 0.15);
	padding: 5px;
}
.mo_attr_table{
	font-size: 17px;
	font-weight: 600;
	font-family: sans-serif
}

/* FAQ button */
.mo_saml_text_center{
	text-align: center;
}

.mo_faq_button_left{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
}

.mo_faq_button_left:hover{
	transform: scale(1.1);
}
.mo_faq_button_right{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
	margin-left: 10px;
}

.mo_faq_button_right:hover{
	transform: scale(1.1);
}
