.mo_oauth_client_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_oauth_client_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_oauth_client_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_oauth_client_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_oauth_client_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}

.mo_oauth_client_table_layout_support_1{
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	float: left;
	width: 29%;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:10px 10px 10px 10px;
	margin-bottom: 10px;
}

.mo_oauth_client_table_layout {
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin: 0 2% 2% 0;
}
.mo_oauth_container {
	width: 60%;
	padding: 25px;
	float: left;
}

.mo_oauth_client_table_layout_1
{
	background-color:#e0e0d8;
	width: 97%;
	padding:2%;
	overflow: hidden;
}

.mo_oauth_client_highlight_background_note{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 79%;
}

.mo_oauth_client_highlight_background_url{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 50%;
}

.mo_oauth_client_text_center{
	text-align: center;
}

.mo_oauth_client_table_layout td {	
}
.mo_oauth_client_table_layout input[type=text] {
	width: 80%;
}
.mo_oauth_client_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_oauth_client_table_textbox {
	width:80%;
}
.mo_oauth_client_settings_table {
	width: 100%;
}
.mo_oauth_client_settings_table tr td:first-child {
	width: 30%;
}
.mo_oauth_client_heading_margin {
	margin-left: 0px;
}
.mo_oauth_client_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_oauth_client_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_oauth_client_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;
	
}
.mo_oauth_client_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_oauth_client_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_oauth_client_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_oauth_client_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_client_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_client_local_table_col1{
	padding-left:5%;
}

.mo_oauth_client_local_table_col2{
	padding-left:20%;
}

/* FAQ button */
.mo_saml_text_center{
	text-align: center;
}

.mo_faq_button_left{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
}

.mo_faq_button_left:hover{
	transform: scale(1.1);
}
.mo_faq_button_right{
	float: inherit;
	color: #48a0dc;
	border: 2px solid #48a0dc;
	padding: 5px;
	margin-left: 10px;
}

.mo_faq_button_right:hover{
	transform: scale(1.1);
}

